.panel.panel-default
  .panel-body
    = simple_form_for(@training) do |f|
      = f.error_notification

      .form-inputs
        = f.input :date, as: :string, input_html: { class: 'js-datetimepicker', value: format_picker_date(f.object) }
        = f.input :price, input_html: { value: f.object.price || 55.00 }

      .form-actions
        = f.button :submit
