= simple_form_for(@training) do |f|
  = f.error_notification

  .form-inputs
    .form-group
      = f.label :date
      .input-group.date#datetimepicker2
        = f.input_field :date, as: :string, class: 'form-control' #, wrapper_html: { class: 'input-group.date', id: 'datetimepicker' }
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
    = f.input :price, input_html: { value: f.object.price || 55.00 }

  .form-actions
    = f.button :submit
