%h1 Training info
.row
  .col-md-4.col-md-offset-1
    %h3 Basics
    %p
      %b Date:
      = @training.date
    %p
      %b Price:
      = @training.price
    %br
    - if admin?
      = render 'admin_actions_on_training'

  .col-md-6
    - if @training.done?
      - if admin?
        = render 'admin_main_actions_on_finished'
      %h3 Present players
      %table.table
        %thead
          %tr
            %th Player
            %th Multi
            %th Action
        %tbody
          = render partial: 'trainings/users_training',
            collection: @users_trainings_attended, as: :users_training,
            locals: { attended: true }
      %h3 Absences
      %table.table
        %thead
          %tr
            %th Player
            %th Action
        %tbody
          = render partial: 'trainings/users_training',
            collection: @users_trainings_not_attended, as: :users_training,
            locals: { attended: false }
    - else
      - if admin?
        = link_to 'Invite user to training', training_invite_path(@training)
      %h2 Invited/Accepted players
      %table.table.table-hover.table-condensed
        %thead
          %tr
            %th E-mail
        %tbody
          = render @users
