= simple_form_for @user, html: { class: 'form-class' } do |f|
  = f.input :email
  = f.input :password, hint: false, error_html: { id: 'password_error' }
  = f.input :password_confirmation
  = f.input :multisport
  = f.button :submit
