%h1= @user.display_name

.row
  .col-md-6.col-md-offset-1
    %table.table
      %thead
        %tr
          %th
            E-mail
          %th
            Multisport
      %tbody
        %tr
          %td
            = @user.email
          %td
            = @user.multisport
    - if can? :edit, @user
      .btn-group
        = link_to 'New Training', new_training_path, class: 'btn btn-default'
        = link_to 'Edit', edit_user_path(@user), class: 'btn btn-default'
        = link_to 'Back', users_path, class: 'btn btn-default'
    %h2 Trainings calendar
    .js-calendar{ id: "user_#{@user.id}" }
    %br
    = render 'color_info'
