%h1= @user.display_name

.row
  .col-md-3.col-md-offset-1
    .well
      %h4 Basics
      %p
        %strong E-mail:
        = @user.email
      %p
        %strong Multisport:
        = @user.multisport
      - if current_user.id == @user.id
        = link_to 'New Training', new_training_path, class: 'btn btn-default'
      - elsif current_user.admin?
        = link_to 'Edit', edit_user_path(@user), class: 'btn btn-default'
    .panel.panel-default
      .panel-heading
        %h4 Calendar legend
      .panel-body
        = render 'color_info'
  .col-md-8.col-md-offset-0
    .panel.panel-default
      .panel-heading
        %h4 Trainings calendar
      .panel-body
        .js-calendar{ id: "user_#{@user.id}" }
